
.modal-content {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 600px;
  max-width: 100%;
    
}


/* The Close Button */
.close {
color: #000000;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: rgb(177, 72, 72);
text-decoration: none;
cursor: pointer;
}
